@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@700&display=swap');
/* font-family: 'Noto Sans JP'; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@700&display=swap');
/* font-family: 'Open Sans Condensed'; */

footer {
    margin-top: 20rem;
}

span {
    font-size: 1.5rem;
}

.header-span {
    font-family: 'Noto Sans JP';
}

.p-font {
    font-family: 'Open Sans Condensed';
}

.footer-div {
    margin-left: 6rem;
    display: flex;
    flex-direction: row;
}

.even-col {
    width: 100%;
}
