<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="header">David Haring's Mandatory I</h1>
    
    <div class="navigation-menu">
        <ul>
        <li>
            <a class="border-button" href="./home.html">Home</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_1.html">Lesson 1</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_2.html">Lesson 2</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_3.html">Lesson 3</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_4.html">Lesson 4</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_5.html">Lesson 5</a>
        </li>
        <li>
            <a class="border-button" href="./lesson_6.html">Lesson 6</a>
        </li>
        </ul>
    </div>
    <div class="text-body">
        
        <div>
            <div class="div-grid">
                <h3 class="h3-in-grid">Lesson 1</h3>

                <p class="p-in-grid" >Basic Javascript exercises, installing Node .js, running Node .js with terminal commands,
                    hoisting, functions, Arrays, Objects, Strings ...
                </p>
            </div>

            <img class="logo-picture" src="node-logo.jpg" alt="Picture of a Node.js logo"></img>
        </div>

        <div class="lessons">
            <div>
                <img class="img-code-lesson-2" src="img-lesson-2.png" alt="Picture of a code representing something we did during the Lesson 2.">

                <div class="div-grid">
                    <h3 class="h3-in-grid">Lesson 2</h3>

                    <p class="p-in-grid">Functions, callback functions, REST APIs, functions with arguments, introduction to Express and installing, package.json ...</p>
                </div>
            </div>
        </div>

        <div class="lessons">
            <div>
                <div class="div-grid">
                    <h3 class="h3-in-grid">Lesson 3</h3>

                    <p class="p-in-grid">Understanding Express, strict mode, variable declaratation, object immutability, comparing, scopes, var vs let,
                        node modules folder, package.json, package-lock.json, Nodemon, semantic versioning
                    </p>
                </div>

                <img class="img-logo-lesson-3" src="nodemon-logo.png" alt="Picture of a Nodemon logo.">
            </div>
        </div>

        <div>
            <div class="div-grid grey">
                <h3 class="h3-in-grid">Lesson 4</h3>

                <p class="p-in-grid">Loops, functional programming, Express, passing HTML code inside Express, getting URL that is typed, 
                    getting parameters that follow URL, POST Http Method ...
                </p>
            </div>
        
            <div class="div-grid grey">
                <h3 class="h3-in-grid">Lesson 5</h3>

                <p class="p-in-grid">Work on REST API(Get, Post, Delete, Put, Patch), .json files, serving the HTML pages with Express, __dirname ...</p>
            </div>
        </div>
    </div>
</body>
</html>