<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 6</title>
    <link rel="stylesheet" href="styleForLessons.css">
</head>
<body>
    <h1 class="header">Welcome to "Lesson 6"</h1>

    <div class="navigation-menu">
        <ul>
            <li>
                <a class="border-button" href="./home.html">Home</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_1.html">Lesson 1</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_2.html">Lesson 2</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_3.html">Lesson 3</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_4.html">Lesson 4</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_5.html">Lesson 5</a>
            </li>
            <li>
                <a class="border-button" href="./lesson_6.html">Lesson 6</a>
            </li>
        </ul>
    </div>

    <div class="text-body">
    <h3>What are Scripts and how to work with Scripts ?</h3>
    <p>Scripts can be 2 different things. If we are talkin in a file context, then these are file which can be executed and when executed,
        they perform some functionality. If we are talking in .json file context, then it is a property of a .json file (like "dependencies").
        They can be either made by us or some built-in. It consists out of script name and command that will be executed when we run that script. 
        Scripts are very handy when there is project which needs a lot of executing of terminal commands. You can therefore instantiate some scripts 
        which are routinely executed so it sorts of become some saved snippet.
        They are written like this (in .json file): 
    </p>
    <div>
    <pre>
        {
            "scripts": {
                "script_name1": "terminal_command1",
                "script_name2": "terminal_command1"
            }
        }</pre>
    </div>

    <p>Once we have our scripts defined(by having a script name and valid terminal command), we can run them so they can execute.
        We do it by following: 
    </p>
    <div>
    <pre>
        {
            "scripts": {
                "start-dev": "nodemon app.js"
            }
        }</pre>
    </div>

    <p>General syntax for running is: </p>
    <div class="span-in-div">
        <span>$ npm run &lt;script_name&gt;</span>
    </div>

    <p>But in this specific case, we do it like this: </p>
    <div class="span-in-div">
        <span>$ npm run start-dev</span>
    </div>
    
    <h3>Environment variables</h3>
    <p>Environment variables are dynamic-named values that can affect the way running processes will behave. They are very useful 
        when some processes must be ran on different PCs and different Operating Systems. If we have some hardcoded values, and it works on 
        our PC and our Operating system, it may not work on others. Environemnt variables are called so because these variables are variables 
        in the environment where the process will run. Setting environment variables is very easy. This is general syntax for setting an environment 
        variable: 
    </p>

    <div class="span-in-div">
        <span>$ env:&lt;name_of_environment_variable&gt; = &lt;value_of_environment_variable&gt;</span>
    </div>
    <p>So this could be a real example of some environment variable:</p>
    
    <div class="span-in-div">
        <span>$env:dev-port=4000</span>
    </div>

    <p>These commands must be written in the Terminal and to remove some environment variable you can use this command: </p>
    
    <div class="span-in-div">
        <span>$ [Environment]::SetEnvironmentVariable(&lt;name_of_environment_variable, $null,</span><br><br>
        <span>&lt;location&gt;);</span>
    </div>

    <p>In my case, I used this command and it worked: </p>

    <div class="span-in-div">
        <span>[Environment]::SetEnvironmentVariable(myEnvironmentVariable, $null, "User");</span>
    </div>

    <p>If you want to view the list of all environemnt variables while in JavaScript, you can write this code snippet:</p>
    
    <pre class="short-pre-l5">console.log(process.env);</pre>
    
    <p>But if you are searching for a specific environment variable, let's say you search for an environemtal variable we created above(dev-port):</p>
    
    <pre class="short-pre-l5">console.log(process.env.dev-port);</pre>
    
    <p>This code snippet should give us: 4000</p>

    <h3>POST, DELETE and PATCH Http Methods</h3>
    <p>Because of their functionality and usage, there are different types of HTTP Methods. 
        We have already covered GET Http Method in <a class="link-in-text" href="./lesson_2.html">Lesson 2</a>. 
    </p>

    <h3>POST Http Method</h3>
    <p> POST Http Method is a method which is used when we want to create a new resource/entity. 
        It passes a body and by using the attributes and values in that <body>
        it can create new resource/entity. Here you can see an example of POST Http Method: 
    </p>
    <pre>
        app.post("/animes", (req, res) => {
            let newAnime = {};
            newAnime.id = ++autoincrement;
            newAnime.title = req.body.title;
            newAnime.protagonist = req.body.protagonist;
            newAnime.grade = req.body.grade;
            console.log(req.body);
            
            animes.push(newAnime);
            
            res.send({ data: newAnime});
        });
    </pre>

    <h3>DELETE Http Method</h3>
    <p> DELETE Http Method is a method which is used when we want to delete some entity/resource. 
        We can either delete all, delete everything that is true for something or we can delete only one and that is 
        usually selected by Id. While delete all, poses big risk, delete by Id is most usuall approach to the DELETE Http Method.
        Here you can see an example of DELETE Http Method.
    </p>
    <pre>
        app.delete("/animes/:id", (req, res) => {
            const id = Number(req.params.id);
            const deletedAnime = animes.find(anime => anime.id === id);
            animes = animes.filter(anime => anime.id !== id);
            
            res.send({ deletedAnime });
        });
    </pre>

    <h3>PATCH Http Method</h3>
    <p> PATCH Http Method is a method which is used when we want to update only part of the resource/entity. The 
        updated entity is usually selected by Id. Here you can see an example of PATCH Http Method: 
    </p>
    <pre>
        app.patch("/animes/:id", (req, res) => {
            const id = Number(req.params.id);
        
            animes = animes.map(anime => {
                if (anime.id === id) {
                    return { ...anime, ...req.body, id: anime.id};
                }
                return anime;
            });
        
            res.send({ message: "updated" });
        });
    </pre>
</div>
</body>
</html>