@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@700&display=swap');
/* font-family: 'Noto Sans JP'; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@700&display=swap');
/* font-family: 'Open Sans Condensed'; */

.h1-projects {
    margin-top: 5rem;
    margin-left: 10rem; 
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}


.image-text-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
    margin-left: 10%;
}

.div-text {
    margin-left: 5%;
}

.project-title {
    font-size: 3.0rem;
    margin: 0.8rem;
    font-family: 'Noto Sans JP';
}

.project-description, .project-type, .project-tech-used, .project-languages, .project-start-date, .project-end-date, .project-git-link {
    font-size: 1.5rem;
    margin: 0.8rem;
    width: 60ch;
}
.project-description, .project-type, .project-tech-used, .project-languages, .project-start-date, .project-end-date {
    font-family: 'Open Sans Condensed'
}

.project-description {
    margin-top: 3rem;
}