body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: visible;
}

a {
    text-decoration: none;
    font-size: 30px;
    margin-left: 40px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 45px;
}