@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    --headers-font: 'Ubuntu', sans-serif;
    --p-font: 'Roboto', sans-serif;
    --span-pre-font: 'Kanit', sans-serif;
    --color-primary: rgb(107, 191, 71);
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 10px 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
}

h3 {
    font-family: var(--headers-font);
    font-size: 30px;
    color: var(--color-primary)
}

p {
    width: 40ch;
    font-size: 22px;
    font-family: var(--p-font);
    line-height: 1.5em;
}

.logo-picture {
    width: 40%;
    height: 40%;
}

.img-logo-lesson-3 {
    width: 90%;
    height: 90%;
}

.text-body div {
    display: flex;
}

.navigation-menu {
    display: table;  
    margin: 0 auto;
}

.header {
    font-family: var(--headers-font);
    font-size: 40px;
    width: 600px;
    margin: 60px auto;
}

.text-body {
    position: relative;
    width: 80%;
    margin: 100px auto;
}

.div-grid {
    align-items: center;
    display: flex;
    flex-direction: column;

    
}

.lessons {
    margin: 80px 0;
}

.h3-in-grid {
    margin: 50px 0;
}

.p-in-grid {
    margin: 10px 30px;
}

.grey {
    background-color: rgba(31, 27, 27, 0.774);
    color: white;
}

.border-button {
    border-right: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
}

.border-button:hover {
    background-color: var(--color-primary);
}